* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}
body {
  background-color: rgb(39, 35, 35);
}
header {
  background-color: rgb(87, 85, 85);
  height: 90px;

  text-align: center;
}
.header__logo h1 {
  font: bold 25px "arial";
  padding-top: 20px;
  letter-spacing: -1px;
}

.header__nav ul {
  margin-top: 15px;
  font: bold 11px "arial";
}
.header__nav ul li {
  display: inline-block;
}

.header__nav ul li a {
  display: block;
  margin: 0px 4px;
}

/* <---- header -----> */

.cocktail__h2 {
  font: bold 30px "arial";
  margin: 40px 0px 30px 25px;
}

.cocktail__h3 {
  font: bold 20px "arial";
  border: 3px solid;
  width: 230px;
  padding: 10px 30px 10px 30px;
  margin: 0px 0px 20px 25px;
}

.cocktail_name {
  font: 18px "arial";
  margin: 20px 0px 10px 25px;
}
.recipes {
  font: 10px "arial";
  margin: -5px 0px 5px 30px;
}
.u_list {
  margin-bottom: 50px;
  width: 300px;
}
